@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@100&display=swap');


body {
background-color:rgb(247, 238, 122);
text-transform: uppercase;
}



.title-heading {
text-align: center;
padding: 10px;
font-family: 'Playfair Display', serif;
font-size: 4em;
color: #ffffff;
background: linear-gradient(to left, rgb(255, 255, 255, 0)0%, rgba(25, 25, 25, 0.8) 5%, rgba(25, 25, 25, 0.8) 95%, rgb(255, 255, 255, 0) 100%);
}

.heading-description {
padding: 20px;
margin: 10px;
font-family: 'Open Sans', sans-serif;
color: #ffffff;
background: linear-gradient(to left, rgb(255, 255, 255, 0)0%, rgba(25, 25, 25, 0.8) 5%, rgba(25, 25, 25, 0.8) 95%, rgb(255, 255, 255, 0) 100%);
}

.hero-image {
position: relative;
    width: 100%;
    height: auto;
    min-height: 5rem;
    padding: 5rem 0; 
    background: url(../images/rr-landing-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.btn-links {   
text-align :center;
font-size: 2em;
border-radius: 10px;
padding:5px;
margin: 30px;
font-family: 'Playfair Display', serif;
border: 2px solid #ffffff;
}

.btn-info {
    color: #ffffff;
    background-color: #e94b2f;
}

.btn-display {
    display: flex;
    justify-content: center;
}


.navigation {
background-color: #c94f4f;
font-family: 'Playfair Display', serif;
}

/*full-recipe stylings*/
.recipe-heading{
    border: 5px solid;
    background-color: #ffffff;
}

.recipe-card {
    border: 5px solid;
    padding: 15px;
    margin-top: 50px;
}

.recipe-text {
 font-family: 'Playfair Display' , serif;
 font-size: 2em;
 text-transform: uppercase;
 padding: 15px;
}

.recipe-p-text {
 font-family: 'Piazzolla', serif;
 font-size: 2em;
 text-transform: uppercase;
 padding: 15px;
 font-weight: 200;
}

.action-btn {
    border: solid 2px #000000;
    padding-bottom: 10px;
    margin: 10px;
    font-family: 'Playfair Display' , serif;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.icons {
    margin-left: 10px;
}


.full-recipe-name {
    color: #000000;
    text-decoration: underline;
}


/*add recipe stylings*/ 
.info-text {
 font-family: 'Playfair Display', sans-serif;
 font-size: 2em;
 text-transform: uppercase;
 padding: 15px;
 margin: 50px;
}


.form-box {
width: fit-content;
    padding-top: 10px;
    padding: 10px;
}

.form-icon {
    width:auto;
}

.form-input {
    margin-left: 100px;
    width: fit-content;
    padding-left: 10px;
}

/* edit form stylings */

.text-area {
    margin-left:100px;
}

/*register page */
.register-form {
    display: contents;
    align-content: center;
}

.register-heading {
    padding: 20px;
    font-size: 2em;
    font-family: 'Playfair Display', sans-serif;
    background:url(../images/rr-landing-img.jpg);
    color: #ffffff;
}

.flash {
    line-height: 3;
    margin: auto;
    font-family: 'Playfair Display', sans-serif;
    color: #ffffff;
    border: 2px solid #000000;
    padding: 10px;
}

.flash-space {
    padding-top: 20px;
}

.profile-head {
    text-align:center;
    padding:50px;
}

.profile-link {
    text-align: center;
}

.generic-text {
    border: 2px solid #000000;
    background-color: #e94b2f;
    width: fit-content;
    padding:10px;
    font-family: 'Playfair Display', sans-serif;
    color:#ffffff;
    margin-left:10px;
    margin-right:10px;
    text-align:center;
    margin:auto;
    line-height: 1.6;
}

.link-text {
    text-align:center;
    padding-bottom:20px;
}


/* recipe card stylings */
.recipe-image {
    padding-top: 20px;
}


/* mobile nav stylings */
.mobile-nav {
    font-family: 'Playfair Display', serif;
}

.mobile-content {
    background-color: #c94f4f;
    color:#ffffff;
}

/*footer social-media */

.social-media {
    margin: auto;
    font-size: 2em;
}

/*search bar*/
.search-bar {
    display: flex;
}