@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@100&display=swap');


body {
background-color:rgb(202, 194, 243);
}

.title-heading {
text-align: center;
padding: 10px;
font-family: 'Playfair Display', serif;
font-size: 4em;
color: #ffffff;
}

.heading-description {
padding: 20px;
margin: 10px;
font-family: 'Open Sans', sans-serif;
color: #ffffff;
}

.hero-image {
position: relative;
    width: 100%;
    height: auto;
    min-height: 5rem;
    padding: 5rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0.8)), color-stop(75%, rgba(0, 0, 0, 0.7)), to(#757373)), url(../images/rr-landing-img.jpg);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(8, 8, 8, 0.8) 75%, #757373 100%), url(../images/rr-landing-img.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(8, 8, 8, 0.8) 75%, #757373 100%), url(../images/rr-landing-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.btn-links {   
text-align :center;
font-size: 2em;
border-radius: 10px;
padding:5px;
margin: 30px;
font-family: 'Playfair Display', serif;
}

.btn-display {
    display: flex;
    justify-content: center;
}

.navigation {
background-color: #4fc9b8;
font-family: 'Playfair Display', serif;
}

/*full-recipe stylings*/
.recipe-heading{
    border: 5px solid;
    background-color: #ffffff;
}

.recipe-card {
    border: 5px solid;
}

.recipe-text {
 font-family: 'Playfair Display' , serif;
 font-size: 2em;
 text-transform: uppercase;
 padding: 15px;
}

.recipe-p-text {
 font-family: 'Piazzolla', serif;
 font-size: 2em;
 text-transform: uppercase;
 padding: 15px;
 font-weight: 200;
}

.action-btn {
    border: solid 2px;
    padding-bottom: 10px;
    margin: 10px;
    font-family: 'Playfair Display' , serif;
}

.full-recipe-name {
    color: #000000;
    text-decoration: underline;
}