{% extends 'base.html'%} {% block content %}
<!--EDIT RECIPE FORM-->
<div class="container mt-5">
<h1 class="text-center font-weight-bold mb-5">Edit Recipe</h1>
    <div class="row">
        <form action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">create</i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}" />
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">create</i>
                    <input id="recipe_description" name="recipe_description" type="text" class="validate" value="{{recipe.recipe_description}}" />
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">schedule</i>
                    <input id="prep_time" name="prep_time" type="int" class="validate" value="{{recipe.prep_time}}" />
                    <label for="prep_time">Prep Time (Minutes)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">shcedule</i>
                    <input id="cooking_time" name="cooking_time" type="int" class="validate" value="{{recipe.cooking_time}}" />
                    <label for="cooking_time">Cooking Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="" name="servings" type="int" class="validate" value="{{recipe.servings}}" />
                    <label for="servings">Serves How Many People</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">kitchen</i>
                    <textarea id="textarea1" name="ingredients" class="materialize-textarea">{{recipe.ingredients}}</textarea>
                    <label for="textarea1">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">sort</i>
                    <textarea id="textarea2" name="method" class="materialize-textarea">{{recipe.method}}</textarea>
                    <label for="textarea1">How to make this recipe</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">today</i>
                    <input id="posted_date" name="posted_date" type="text" class="datepicker" value="{{recipe.posted_date}}" />
                    <label for="icon_prefix">Posted Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">insert_link</i>
                    <input id="image_url" name="image_url" type="text" class="validate" value="{{recipe.image_url}}" />
                    <label for="image_url">Image of Recipe</label>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-info" type="submit" name="action">
                    Edit Recipe
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}