{% extends 'base.html'%}
{% block content %}

<!--LANDING PAGE-->
<body>
	<div class="container-fluid hero-image landing-page">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="landing-text title-heading">Recipe Remedy</h1>
                <h2 class="landing-text mb-4 heading-description">Find recipes for any meal. At recipe Remedy we showcase the best in all types of cuisine.<br> 
                How do we know its the best? Because you created it!<br>
                From quick meals to fit a busy day, hearty meals for family sit down, pushing your culinary skills, or simply come to browse for inspiration.</h2>
                <div class="btns btn-display browser-default">
                
                <a href="{{ url_for('recipe') }}" class="btn-info landing-btn text-decoration-none btn-links">All Recipes</a>
			
                <a href="{{ url_for('add_recipe') }}" class="btn-info landing-btn text-decoration-none btn-links">Add Your Own!</a>
                
                </div>
			</div>
		</div>
	</div>
</body>
{% endblock %}