{% extends 'base.html'%}
{% block content %}

<!--LANDING PAGE-->
<body>
	<div class="container-fluid hero-image landing-page">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="landing-text">Recipe Remedy</h1>
                <h2 class="landing-text mb-4">Find recipes for any meal. At recipe Remedy we are here to showcase the best in all types of cuisine. Whether it be
                a quick meal to fit a busy day, a hearty meal to really lavish yourself, something exciting to push youre culinary skills, or simply come to browse for inspiration
                at meal times.</h2>
                <div class="btns">
                <a href="{{ url_for('breakfast') }}" class="btn-info landing-btn text-decoration-none">Breakfast</a>
                <a href="{{ url_for('lunch') }}" class="btn-info landing-btn text-decoration-none">Lunch/ Dinner</a>
                <a href="{{ url_for('dessert') }}" class="btn-info landing-btn text-decoration-none">Dessert</a>
                <a href="{{ url_for('edit_recipe') }}" class="btn-info landing-btn text-decoration-none">Edit a recipe</a>
				<a href="{{ url_for('add_recipe') }}" class="btn-info landing-btn text-decoration-none">Add Your Own!</a>
                </div>
			</div>
		</div>
	</div>
</body>
{% endblock %}