{% extends 'base.html'%}
{% block content %}
{% for recipe in recipes %}
<!--RECIPE CARDS(snippet of the recipe, full description in breakfast, dinner, dessert.html pages)-->
<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4 card-img">
                <img src="{{recipe.image_url}}" class="card-img" alt="Logo" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}"><h4>{{recipe.recipe_name}}</h4></a>
                    <h5 class="card-title">{{recipe.recipe_name}}</h5>
                    <h6 class="card-title"><i class="material-icons prefix">restaurant</i>{{recipe.recipe_description}}</h6>
                    <h6 class="card-title"><i class="material-icons prefix">schedule</i>{{recipe.prep_time}}</h6>
                    <h6 class="card-title"><i class="material-icons prefix">shcedule</i>{{recipe.servings}}</h6>
                    <h6 class="card-title"><i class="material-icons prefix">schedule</i>{{recipe.cooking_time}}</h6>
                        <a href="{{ url_for('recipe') }}" class="mr-3 text-decoration-none btn">
                                Click here to see full recipe.
                                <i class="material-icons right">send</i>
                        </a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="mr-3 text-decoration-none btn">
                                Edit Recipe
                                <i class="material-icons right">mode_edit</i>
                        </a>
                
                </div>
            </div>                        
        </div>
</div>
</div>
{% endfor %}
{% endblock %}
