{% extends 'base.html'%}
{% block content %}
<h3 class="center-align register-heading">Register</h3>

    <div class="row register-form">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="prefix light-blue-text text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username"><i class="material-icons">person</i>Username</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
                            class="validate" required >
                        <label for="password"><i class="material-icons">fingerprint</i>Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large teal accent-3 text-shadow action-btn">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
    <div class="col s12">
    <div class="center-align generic-text"><p>Already Have An Account?
    <a href="{{ url_for('log_in') }}" class="flash">Login Here</a>
    </p></div>
    </div>
    </div>
{% endblock %}