{% extends 'base.html'%}
{% block content %}
<section class="container info-text">
  <div class="row center-align">
    <div class="col s12 m6 ">
      <h1>Search Results</h1>
      <a
        href="{{ url_for('recipe') }}"
        class="waves-effect waves-light btn red lighten-3"
        >Start New Search</a
      >
    </div>
  </div>
</section>

<!-- Results List -->
<section class="card mb-3 recipe-card">
  <ul class="">
    {% for recipe in recipe %}
    <li>
      <div class="row collapsible-header">
        <div class="col s12 m6">
          <img
            class="responsive-img"
            src="{{ recipe.image_url }}"
            alt="image of {{ recipe.recipe_name }}"
          />
        </div>
        <div class="col s12 m7">
          <h5><i class="material-icons">local_dining</i>{{ recipe.recipe_name }}</h5>
          {{ recipe.cuisine_type }}
          <p><em>Description: {{ recipe.recipe_description }}</em></p>
          <p><em>By: {{ recipe.created_by }}</em></p>
          <p><em>Date: {{ recipe.posted_date }}</em></p>
        </div>
        <div class="col s12 m2 left-align btn-links">
          <a
            href="{{ url_for('view_search_result', recipe_id=recipe._id) }}"
            class="waves-effect waves-light btn search-result-view-btn view-btn"
            >View Recipe</a
          >
        </div>
      </div>
      {% endfor %} {% for recipe in ingredients %}
    </li>

    <li>
      <div class="row collapsible-header ">
        <div class=" col s12 m3">
          <img
            class="responsive-img"
            src="{{ recipe.image_url }}"
            alt="image of {{ recipe.recipe_name }}"
          />
        </div>
        <div class="col s12 m7">
          <h5><i class="material-icons">local_dining</i>{{ recipe.recipe_name }}</h5>
          {{ recipe.cuisine_type }}
          <p><em>Description: {{ recipe.recipe_description }}</em></p>
          <p><em>By: {{ recipe.created_by }}</em></p>
          <p><em>Date: {{ recipe.posted_date }}</em></p>
        </div>
        <div class="col s12 m2 left-align btn-links">
          <a
            href="{{ url_for('view_search_result', recipe_id=recipe._id) }}"
            class="waves-effect waves-light btn"
            >View Recipe</a
          >
        </div>
      </div>
      {% endfor %}
    </li>
  </ul>

  <!-- If no recipe, render this -->

  {% if recipesName == 0 %} {% if ingredientsName == 0 %}
  <section class="container">
    <div class="row center-align">
      <div class="col s12 m6 find_recipe_col no_results">
        <h2>Sorry, no recipes found!</h2>
        <p>Want to search again?</p>
        <a
          href="{{ url_for('recipe') }}"
          class="waves-effect waves-light btn search-result-view-btn view-btn red lighten-3"
          >Find A Recipe</a
        >
        <p> Or Maybe add your own? </p>
        <a
          href="{{ url_for('add_recipe') }}"
          class="waves-effect waves-light btn search-result-view-btn view-btn red lighten-3"
          >Add your own Recipe</a
        >
      </div>
    </div>
  </section>
  {% endif %} 
  {% endif %}
</section>
{% endblock %}
